nav {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  align-items: center;
}

nav h1 {
  font-family: Montserrat;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
}

.nav-links {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.nav-links li {
  margin: 20px;
}
