header {
  border-bottom: 1px solid #e6e6e6;
}
nav {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}

nav h1 {
  font-family: Montserrat;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
}

.nav-links {
  display: flex;
  list-style: none;
  padding: 0;
  flex: 1;
}

a {
  text-decoration: none;
  color: #121212;
  font-family: Montserrat;
  font-size: 0.875rem;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.nav-links li {
  margin: 20px;
}

.nav-links li:nth-child(1) a {
  font-weight: bold;
}

.nav-links:first-child {
  font-weight: bold;

}

.user-circle {
  color: #0290ff;
  right: 10rem;
  font-size: 2rem;
  border: solid rgb(200, 200, 200) 0.0313rem;
  border-radius: 2rem;
  background-color: #f3f3f3;
  height: 2rem;
  cursor: pointer;
  padding: 0.3125rem;
}
